
body
{
    font-family: Arial, Helvetica, sans-serif;
}

div
{
    border-style: solid;
}
div.pageWrapper
{
    width: 75%;
    background-color: bisque;
    margin: 0px auto;
}

h1.site_head
{
    text-align: center;
    margin: 7px;
    text-transform: uppercase;
}

h2.site_head
{
    text-align: center;
    margin: 7px;
    text-transform: uppercase;  
}

ul.site_head li
{
    display: inline;
    margin-right: 15px;
}


