
body
{
    font-family: Arial, Helvetica, sans-serif;
}

*.debug *{
    border-style: solid;
    border-width: 1px;
}

div
{

}

div.pageWrapper
{
    width: 75%;
    background-color: bisque;
    margin: 0px auto;
}

h1.site_head
{
    text-align: center;
    margin: 7px;
    text-transform: uppercase;
}

h2.site_head
{
    text-align: center;
    margin: 7px;
    text-transform: uppercase;  
}

ul.site_head li
{
    float: left;
    list-style: none;
    margin-right: 15px;
}

header + div{
    clear: both;
}
